@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


 

<div class="content">
    <div class="background-img"><img src="/img/cubosolo.jpg"/></div>
    <div class="d-flex justify-content-center" style="transform: translateY(-200px)">
        <button id="scrollButton">Desplazarse hacia abajo</button>
    </div>


    <h1>Contenido Arriba</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, libero at hendrerit varius, tortor nisl tempus tellus, vel semper nunc quam ac libero.</p>
    <!-- Botón de Scroll -->
    

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod, libero at hendrerit varius, tortor nisl tempus tellus, vel semper nunc quam ac libero.</p>
    <h2>Más Contenido Abajo</h2>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
    <p>Más contenido interesante...</p>
</div>
<script src="/js/site.js"></script>
